*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;
    --primary-color-light: #d9ac37;
    --color-text-button: #473404;

    font-size: 62.5%;
}

body{
    background: var(--background);
}

body a{
    text-decoration: none;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

#form{
    max-width: 40rem;
    height: 90vh;
    padding: 3rem;
}

#form > img{
    margin-bottom: 3rem;
}

#form label{
    color: var(--text-base);
}

.header .logo{
    height: 2.8rem;
    margin-bottom: 3rem;
}

.header h1, p{
    color: var(--text-title);
}

.header p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-base);

    margin-bottom: 2.7rem;
}

.do{
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.do img{
    margin-right: 1rem;
}

.do h1{
    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem;
    font-weight: 600;  
}

form{
    width: 100%;
    position: relative;
}

form label{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
}

form input[type="email"], form input[type="password"]{
    all: unset;
    width: 100%;
    height: 4rem;
    padding: 0 2rem 0 4rem;
    box-sizing: border-box;
    background: var(--background);
    border: 1.2px solid var(--text-base);

    border-radius: 0.4rem;
    color: var(--text-base);
    
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;

    margin-bottom: 2rem;
}

form input:focus{  
    border: 1.2px solid var(--primary-color);
}

form img{
    width: 2rem;
    height: 2rem;
    z-index: 1000;
}

form .mail{
    position: absolute;
    margin-top: 3.5rem;
    left: 1.5rem;   
}

form .mail{
    color: var(--primary-color);
}

form .lock{
    position: absolute;
    margin-top: 3.5rem;
    left: 1.5rem;
}

form .eye{
    position: absolute;
    margin-top: 1rem;
    right: 1.5rem;
}

form p, a{
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;    
    color: var(--primary-color);
}

form :nth-child(10){
    text-align: center;
}

form span{
    font-weight: 600;

}

.check{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    margin-bottom: 2rem;
}

.check p{
    font-weight: 600;
}

.checkbox{
    display: flex;
    align-items: center;
}

.checkbox label{
    font-weight: 400;
}

form input[type="checkbox"]{
    width: 2rem;
    height: 2rem;
    margin-bottom: 0;
    border-radius: 0.4rem;

    border: none;
    margin-right: 0.5rem;
}

form .button{
    display: inline-flex;
    width: 100%;
    height: 5rem;

    align-items: center;
    justify-content: center;

    background: var(--primary-color);
    color: var(--color-text-button);
    border-radius: 0.4rem;
    margin-bottom: 1.4rem;

    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    border: none;
    transition: background 0.3s;
}

form .button:hover{
    background: var(--primary-color-light);
}

.img-main img{
    display: none;
}

@media(min-width: 500px){
    #form{
        max-width: 57rem;
    }

    .container-container-fundo{
        width: 57rem;
        height: 45rem;
        display: flex;
        justify-content: center;
    }

    .container-fundo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50rem;
        height: 45rem;
        padding: 0 10rem;
        background: var(--form-background);
        border-radius: 0.4rem;
    }

    #form > img{
        margin-bottom: 9rem;
    }
}

@media(min-width: 1240px){
    .img-main{
        max-width: 70rem;
        max-height: 100vh;
    }

    .img-main img{
        display: flex;
        width: 70rem;
        height: 100%;
    }
}